{% extends 'vault/base.html' %}
{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center">
  <h3 class="text-center"><span >Hi, {{ user.email }}</span></h3>
  <h2 class="text-center">Let's set Up Two-Factor Authentication</h2>
  <p class="text-center">Scan this QR code using your authenticator app and enter the 6-digit code it gives you.</p>

  {% if qr_code %}
    <div class="d-flex justify-content-center mb-3">
      <img src="{{ qr_code }}" alt="2FA QR Code" style="width: 300px; height: 300px;" />
    </div>
  {% endif %}

  <form method="post" class="w-100" style="max-width: 400px;">
    {% csrf_token %}
    <label for="token" class="w-100 text-center">Enter OTP:</label>
    <input type="text" name="token" class="form-control mb-3 text-center" required>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success">Verify</button>
    </div>
  </form>
</div>
{% endblock %}
