{% extends 'vault/base.html' %}
{% block content %}
<h4>{{ title }}</h4>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
    <div class="mb-3">
    <label>Password</label>
    <div class="input-group">
        {{ form.password_raw }}
        <button type="button" class="btn btn-outline-secondary" onclick="generatePassword()">Generate</button>
    </div>
    </div>
  <button type="submit" class="btn btn-success">Save</button>
</form>

<script>
  function generatePassword(length = 16) {
    const charset = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%^&*()_+";
    let password = "";
    for (let i = 0; i < length; i++) {
      password += charset.charAt(Math.floor(Math.random() * charset.length));
    }
    document.getElementById("id_password_raw").value = password;
  }
</script>

{% endblock %}

